	<footer class="footer">
		<div class="footer__inner">
			<ul class="footer__list">
				<li><a href="top.html" class="footer__link">ホーム</a></li>
				<li><a href="company.html" class="footer__link">会社情報</a></li>
				<li><a class="footer__link">コンサルティング</a></li>
				<ul class="footer__linkSub">
					<li><a href="feature.html" class="footer__link">ANサポーターズの特長</a></li>
					<li><a href="consultant.html" class="footer__link">コンサルタント</a></li>
					<li><a href="support.html" class="footer__link">M&A</a></li>
					<li><a href="branding.html" class="footer__link">ブランディング</a></li>
					<li><a href="consultant.html" class="footer__link">コンサルタント</a></li>
				</ul>
				<li><a class="footer__link">セカンドキャリア養成塾</a></li>
				<ul class="footer__linkSub">
					<li><a href="about.html" class="footer__link">AN BIZGYMについて</a></li>
				</ul>
				<li><a href="" class="footer__link">ブログ シニアのスキル</a></li>
				<li><a href="contact.html" class="footer__link">お問合せ</a></li>
			</ul>
			<div class="footer__company">
				<span class="footer__company-textMiddle">運営会社/</span> <span class="footer__company-textLarge">株式会社ANパートナーズ</span><br>
				東京都千代田区九段南1-5-6 りそな九段ビル5FKSフロア
			</div>
			<div class="footer__privacy">
				<a href="privacy.html">プライバシーポリシー | 特定商取引法に基づく表示</a>
			</div>
		</div>
	</footer>

	</div>
	<script src="/assets/js/common.js"></script>
	</body>

	</html>