.about {

	&__video {
		position: relative;
		padding-bottom: 56.25%;
		/*アスペクト比 16:9の場合の縦幅*/
		height: 0;
		overflow: hidden;
		margin: 20px auto 0;

		& iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}
	}

	&__img {
		margin-top: 40px;
	}
}