@use "../mixin"as *;

.feature {
	&__suggestion {
		color: $blue;
		font-size: 21px;

		@include sp {
			font-size: 14px;
		}


		&.large {
			font-size: 24px;
			margin-top: 60px;
			font-weight: bold;

			@include sp {
				font-size: 18px;
				margin-top: 20px;
			}

		}

		&-list {
			list-style-type: disc;
			font-size: 21px;
			margin-left: 20px;
			margin-top: 26px;
			margin-bottom: 36px;

			@include sp {
				font-size: 14px;
				margin-top: 20px;
				margin-bottom: 20px;

			}

		}

	}


	&__content {
		font-size: 21px;
		margin-top: 58px;

		@include sp {
			font-size: 14px;
			margin-top: 28px;
		}

		&-list {
			list-style-type: decimal;
			margin-top: 37.5px;
			margin-left: 20px;
			font-size: 21px;
			font-weight: bold;

			@include sp {
				font-size: 14px;
				margin-top: 18px;
			}

		}
	}

	&__flex {
		display: flex;
		justify-content: space-between;

		@include sp {
			display: block;
			margin: 0 auto;
		}
	}

	&__shikaku {
		background: $blue;
		color: $white;
		width: 127px;
		height: 127px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 14px;
		position: relative;

		@include sp {
			width: 100px;
			height: 100px;
			font-size: 12px;
			margin: 0 auto 30px;
			z-index: -1;
		}

		&::after {
			position: absolute;
			content: '';
			width: 0;
			height: 0;
			border-left: 30px solid #CE0501;
			border-top: 15px solid transparent;
			border-bottom: 15px solid transparent;
			top: 40%;
			right: -60px;

			@include sp {
				border-left: 15px solid transparent;
				border-right: 15px solid transparent;
				border-top: 15px solid #CE0501;
				border-bottom: none;
				top: 110px;
				right: 35%;

			}
		}

		&.last {
			&::after {
				content: none;
			}
		}
	}

	&__problem {
		font-size: 21px;

		@include sp {
			font-size: 14px;
			margin-top: 5px;
		}

		&.large {
			font-size: 30px;
			margin-top: 32px;
			font-weight: bold;

			@include sp {
				font-size: 18px;
				margin-top: 20px;
			}
		}

		&-list {
			font-size: 21px;
			list-style-type: disc;
			margin-left: 20px;

			@include sp {
				font-size: 14px;
				margin-top: 10px;
			}

		}
	}
}
