@use "../mixin"as *;

.btn {
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.5;
	position: relative;
	display: inline-block;
	padding: 1rem 4rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 0.1em;
	color: $white;
	border-radius: 0.5rem;

	@include sp {
		padding: 10px 30px;
		font-size: 18px;
	}

	&-border {
		border: 2px solid $black;
		border-radius: 0;
		background: $blue;
		-webkit-box-shadow: 4px 4px 0 $black;
		box-shadow: 4px 4px 0 $black;

		&:hover {
			-webkit-box-shadow: -4px -4px 0 $black;
			box-shadow: -4px -4px 0 $black;
		}
	}

	&-center {
		text-align: center;
		margin-top: 130px;

		@include sp {
			margin-top: 50px;
		}
	}
}
