@use "../mixin"as *;

.footer {

	&__inner {
		background-color: $blue;
		margin-top: 70px;
		padding-top: 43px;
		padding-bottom: 170px;
		color: $white;

		@include sp {
			margin-top: 50px;
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}

	&__list {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		margin-bottom: 44px;


		@include sp {
			display: none;
		}

		& li {
			padding-right: 30px;
		}

		& li:last-child {
			padding-right: 0px;
		}
	}

	&__link,
	&__linkSub {
		color: $white;
		position: relative;

		& a {
			color: $white;
		}
	}

	&__linkSub {
		display: none;
	}

	&__company {

		text-align: center;
		font-size: 14px;

		@include sp {
			font-size: 12px;
		}


		&-textMiddle {
			font-size: 16px;

			@include sp {
				font-size: 14px;
			}

		}

		&-textLarge {
			font-size: 24px;

			@include sp {
				font-size: 18px;
			}

		}

	}

	&__privacy {
		text-align: center;
		margin-top: 20px;
		font-size: 14px;

		& a {
			color: $white;
		}

		@include sp {
			margin-top: 10px;
			font-size: 12px;
		}

	}

}
