@use "../mixin"as *;

.breadcrumb {
	margin-top: 20px;
	padding: 0;
	list-style: none;

	@include sp {
		margin-top: 70px;
		margin-left: 10px;
	}
}

.breadcrumb li {
	display: inline;
	/*横に並ぶように*/
	list-style: none;

	@include sp {
		font-size: 10px;
	}

}

.breadcrumb li:after {
	/* >を表示*/
	content: '>';
	padding: 0 0.2em;
	color: $black;
}

.breadcrumb li:last-child:after {
	content: '';
}

.breadcrumb li a {
	text-decoration: none;
	color: $black;
	/*色*/
}

.breadcrumb li a:hover {
	text-decoration: underline;
}