@use "../mixin"as *;

.profIcon {
	width: 180px;
	margin-top: 50px;
	margin-right: 35px;
	margin-left: 35px;

	@include sp {
		width: 140px;
		margin-top: 25px;
		margin-right: 0px;
		margin-left: 0px;
	}

	&__text {
		font-size: 12px;
		text-align: center;

		@include sp {
			font-size: 10px;
		}

		&.blue {
			color: $white;
			font-size: 24px;
			padding-top: 45px;

			@include sp {
				font-size: 18px;
				padding-top: 35px;
			}
		}

	}

	&__img {
		width: 180px;
		height: 180px;
		border-radius: 50%;
		object-fit: cover;
		object-position: top;

		& img {
			width: 180px;
			height: 180px;
			border-radius: 50%;
			object-fit: cover;
			object-position: top;

			@include sp {
				width: 140px;
				height: 140px;

			}
		}

		&.blue {
			background-color: $blue;
			margin-top: 45px;

			@include sp {
				width: 140px;
				height: 140px;
				margin-top: 38px;

			}

		}


	}
}