<%- include('common/_header', {
	page: 'contact',
	title: 'お問合せ',
	description: 'ページの説明',
	noindex: false
}); %>

<div class="container">
	<div class="contact__space"></div>
	<%- include('common/_section', {
  text: 'お問合せ'
  }); %>

	<div class="support__text">
		ANサポーターズに関するお問合せはこちらのお問合せフォームよりお問合せください。
	</div>

	<!-- ここにお問合せフォームのコードを埋め込み予定 -->
	<!-- /ここにお問合せフォームのコードを埋め込み予定 -->

</div>

<%- include('common/_footer'); %>
