<%- include('common/_header', {
	page: 'top',
	title: 'ホーム',
	description: 'ページの説明',
	noindex: false
}); %>
<!--  ここにスライダー予定（今は仮） -->
<div class="swiper mySwiper2">
	<!-- Additional required wrapper -->
	<div class="swiper-wrapper">
		<!-- Slides -->
		<div class="swiper-slide">Slide 1</div>
		<div class="swiper-slide">Slide 2</div>
		<div class="swiper-slide">Slide 3</div>
		<div class="swiper-slide">Slide ４</div>
	</div>
	<!-- 必要に応じてナビボタン -->
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
</div>
<div class="swiper mySwiper">
	<!-- Additional required wrapper -->
	<div class="swiper-wrapper">
		<!-- Slides -->
		<div class="swiper-slide">Slide 1</div>
		<div class="swiper-slide">Slide 2</div>
		<div class="swiper-slide">Slide 3</div>
		<div class="swiper-slide">Slide ４</div>
	</div>
</div>
<!-- /ここにスライダー予定 -->

<div class="container">

	<div class="top__concept">
		ベテラン世代がイニシャティブを持って<span class="u-hidden-pc"><br></span>生き生きと働ける社会を目指す<br>ベテラン世代と共に学び、共に働く会社
	</div>

	<div class="top__business">
		<div class="top__business-left"><img src="/assets/img/business-logo1.png"></div>
		<div class="top__business-right">
			経営課題解決のお手伝い<br>
			<span class="top__business-textMiddle">よろずシニアコンサルティングファーム</span><br>
			<span class="top__business-textLarge">ANサポーターズ</span>
		</div>
	</div>

	<div class="top__business biz">
		<div class="top__business-left biz"><img src="/assets/img/business-logo2.png"></div>
		<div class="top__business-right biz">
			あなたの経験・知識を元に起業する<br>
			<span class="top__business-textMiddle">ベテラン世代のための<span class="u-hidden-pc"><br></span>セカンドキャリア養成塾</span><br>
			<span class="top__business-textLarge">ANビズジム</span>
		</div>
	</div>

	<%- include('common/_section', {
	text: '事業内容'
}); %>

	<div class="top__organization">
		<div class="top__organization-img"><img src="/assets/img/organization.png"></div>
	</div>

</div>
<%- include('common/_footer'); %>